{% extends 'base_item.html' %}

{% block title %} Запись {% endblock %}

{% block user %} <a href="/logout" class="navbar-brand d-inline-block align-top float-righ" style="color: #DAF7A6; font-size: 16px;"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ personal }} </a> {% endblock %}

{% block menu %}
<br>
<div class="container-fluid" style="font-size: 14px;">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="btn btn-outline-primary btn-sm" style="width: 100px;" href="/items_page"><i class="fa fa-home fa-fw"></i>Журнал</a></li>
        <li class="nav-item"><a class="btn btn-outline-danger btn-sm" style="margin-left: 10px; width: 100px;" href="/del_item/{{ item.id }}"><i class="fa fa-trash-o fa-fw"></i>Удалить</a></li>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <li class="nav-item"><a class="btn btn-danger btn-sm font-italic" style="margin-left: 10px; width: 250px;"> {{ message }}</a></li>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </ul>
</div>
<br>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center font-weight-bold"> ПРАВИТЬ ЗАПИСЬ </div><br>
<div class="container-fluid d-flex justify-content-center">
        <div class="form-container">
            <form method="POST" class="form-horizontal">
                <label for="dstart">Дата и время начала события:</label><br>
                <input type="date" id="dstart" name="dstart" value="{{ item.dtstart.date() }}">
                <input type="time" id="tstart" name="tstart" step="1" value="{{ item.dtstart.time() }}"><br><br>
                <label for="dstart">Дата и время окончания события:</label><br>
                <input type="date" id="dend" name="dend" value="{{ item.dtend.date() }}">
                <input type="time" id="tend" name="tend" step="1" value="{{ item.dtend.time() }}"><br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="inlineCheckbox1" {{ ch }}>
                    <label class="form-check-label" for="inlineCheckbox1">Событие находится на контроле</label>
                </div><br><br>
                <label for="object">Объект:</label><br>
                <input type="text" class="form-control" style="font-size: 14px;" name="object" id="object" readonly value="{{ item.object }}"><br>
                <div class="form-row">
                    <div class="col">
                        <label for="author">Автор:</label><br>
                        <input type="text" class="form-control" style="font-size: 14px;" name="author" id="author" readonly value="{{ item.author }}">
                    </div>
                    <div class="col">
                        <label for="author_correct">Откорректировал:</label><br>
                        <input type="text" class="form-control" style="font-size: 14px;" name="author_correct" id="author_correct" readonly value="{{ item.author_correct }}">
                    </div>
                    <div class="col">
                        <label for="dcorrect">Дата корректировки:</label><br>
                        <input type="date" class="form-control" style="font-size: 14px;" id="dcorrect" name="dcorrect"
                               readonly {% if item.dt_correct != None %} value="{{ item.dt_correct.date() }}" {% endif %}>
                    </div>
                    <div class="col">
                        <label for="tcorrect">Время корректировки:</label><br>
                        <input type="time" class="form-control" style="font-size: 14px;" id="tcorrect" name="tcorrect" step="1"
                               readonly {% if item.dt_correct != None %} value="{{ item.dt_correct.time() }}" {% endif %}><br><br>
                    </div>
                </div>
                <br>
                <label for="theme">Тема события:</label><br>
                <input type="text" class="form-control" style="font-size: 14px;" name="theme" id="theme" value="{{ item.theme }}"><br>
                <label for="textarea1">Текст события:</label><br>
                <textarea class="form-control" style="font-size: 14px;" id="textarea1" name="textarea1" rows="3">{{ item.text }}</textarea><br>

                <button type="submit" class="btn btn-outline-primary float-right btn-sm" name="register" value="register">Сохранить</button>
            </form>
        </div>
</div>
{% endblock %}

