{% extends 'base_item.html' %}

{% block title %} Login {% endblock %}

{% block body %}
<br>
<div class="container-fluid d-flex justify-content-center"  style="min-height: calc(100vh - 120px);">
    <form method="POST" class="form-horizontal">
        <div class="form-container" style="width:400px;">
        <div class="form-group" style="color:#E74C3C;font-size: 16px;">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="list-group">
                <li class="list-group-item active bg-danger text-white"> {{ message }} </li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <ul class="list-group">
            <li class="list-group-item active">Выполните Авторзацию:</li>
            <li class="list-group-item"><input class="form-control" type="text" name="login" placeholder="Логин"></li>
            <li class="list-group-item"><input class="form-control" type="password" name="password" placeholder="Пароль"></li>
        </ul>
        <br>
        <button type="submit" class="btn btn-outline-success float-left btn-sm" name="login" value="login">Войти</button>
        <a href="/register" class="btn btn-outline-primary float-right btn-sm">Регистрация</a>
        <br>
    </form>
    </div>
</div>

{% endblock %}
