{% extends 'base_item.html' %}

{% block title %} Персонал Отделения {% endblock %}

{% block user %} <a href="/logout" class="navbar-brand d-inline-block align-top float-righ" style="color: #DAF7A6; font-size: 16px;"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ personal }} </a> {% endblock %}

{% block menu %}
<br>
<div class="container-fluid" style="font-size: 14px;">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="btn btn-outline-primary btn-sm" style="width: 100px;" href="/items_page"><i class="fa fa-home fa-fw"></i>Журнал</a></li>
    </ul>
</div>
<br>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center font-weight-bold"> ПЕРСОНАЛ ОТДЕЛЕНИЯ </div><br>
<div class="container-fluid"  style="height: 700px; max-width:100%; overflow-x: hidden!important;">
    <input class="form-control w-100" style="font-size: 14px;" type="text" id="search-text" onkeyup="tableSearch()" placeholder=" Поиск" aria-label="Search"><br>
    <table class="table table-bordered table-hover table-sm" id="info-table">
        <thead class="thead-dark" style="position: sticky;top: 0;">
            <tr>
                <th style="width:10%; text-align:center" scope="col">Фамилия</th>
                <th style="width:10%; text-align:center" scope="col">Имя</th>
                <th style="width:10%; text-align:center" scope="col">Отчество</th>
                <th style="width:10%; text-align:center" scope="col">Дата рождения</th>
                <th style="width:10%; text-align:center" scope="col">Объект</th>
                <th style="width:15%; text-align:center" scope="col">Должность</th>
                <th style="width:10%; text-align:center" scope="col">Телефон</th>
                <th style="width:15%; text-align:center" scope="col">Мобильный Телефон</th>
                <th style="width:10%; text-align:center" scope="col">E@mail</th>
            </tr>
        </thead>
        {% for el in data %}
        <tbody>
            <tr>
                <td class="align-middle" style="text-align:center"> {{ el.surname }} </td>
                <td class="align-middle" style="text-align:center"> {{ el.name }} </td>
                <td class="align-middle" style="text-align:center"> {{ el.patronymic }} </td>
                <td class="align-middle" style="text-align:center"> {{ el.birth }} </td>
                <td class="align-middle" style="text-align:center"> {{ el.object }} </td>
                <td class="align-middle" style="text-align:center"> {{ el.position }} </td>
                <td class="align-middle" style="text-align:center"> {{ el.phone }} </td>
                <td class="align-middle" style="text-align:center"> {{ el.phone_mobile }} </td>
                <td class="align-middle" style="text-align:center"> {{ el.email }} </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

<script>
    function tableSearch() {
        var phrase = document.getElementById('search-text');
        var table = document.getElementById('info-table');
        var regPhrase = new RegExp(phrase.value, 'i');
        var flag = false;
        for (var i = 1; i < table.rows.length; i++) {
            flag = false;
            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                if (flag) break;
            }
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }

        }
    }
</script>

{% endblock %}
